@model Zovi_Fashion.Models.Product

@{
    ViewData["Title"] = "ProductDetails";
    var item = Model;
}

<h1>Product Details</h1>

<div class="row">
    <div class="col-md-8">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Fabric)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Fabric)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ManufacturingYear)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ManufacturingYear)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Fit)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Fit)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SleveLength)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SleveLength)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Occasion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Occasion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PatternType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PatternType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Size)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Neck)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Neck)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.WashCare)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.WashCare)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.SoldBy)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.SoldBy)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandName)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../../productphotos/@item.ProductID@item.Extension" alt="Card image">
        </div>
    </div>
</div>
<div class="text-center">
    <br />
    <a class="btn btn-block btn-primary" asp-area="" asp-controller="ProductReviews" asp-action="Create">Add Reviews</a>
    <br />
    <a class="btn btn-block btn-primary" asp-action="ViewReviews" asp-route-id="@item.ProductID">View Reviews</a>
    <br />
</div>